<div class="background-wrap">
  <div class="background"></div>
</div>
<div>
  <form [formGroup]="form" (ngSubmit)="login()">
    <h1 id="litheader">Login Here</h1>
    <div class="inset">
      <p>
        <input type="text" formControlName="email" placeholder="Email address">
      </p>
      <p>
        <input type="password" formControlName="password" placeholder="Access code">
      </p>
    </div>
    <p class="p-container" [ngStyle]="{'opacity': form.valid ? '1' : '0.5' }">
      <button type="submit" [disabled]="!form.valid">Authorize</button>
    </p>
  </form>
</div>