<ion-content style="background-color: lightblue; height: 100%;  color: black ">

  <div style="background-color: lightblue; height: 100%;">
    <div style="background-color: lightblue; display: flex;  justify-content: center; padding-top: 50px;">
      <div
        style="background-color: white; color: black ;width:80%; border-radius: 10px; display:flex; flex-direction: column; padding: 15px; box-shadow: 0 5px 10px 5px rgb(0 0 0 / 20%);">

        <div class="title" *ngIf="editEquipo">Editar Equipo:</div>
        <div class="title" *ngIf="!editEquipo">Crear Equipo:</div>

        <ion-grid fixed>
          <ion-row>
            <ion-col size="3" style="text-align: right;">Nombre:</ion-col>
            <ion-col size="9">
              <ion-input [(ngModel)]="data.nombre"></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div class="btn-bar">
          <ion-button (click)="eliminar()"> Eliminar </ion-button>
          <ion-button (click)="guardar()"> Guardar </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>