<!-- <app-header></app-header> -->
<ion-content>
    <div style="height: 100%">
        <div class="all-div">

            <div style="display:flex; flex-direction:row; align-items: center;">
                <div class="title">Cuentas (clientes):</div>
                <div>
                    <ion-button (click)="add()">Agregar </ion-button>
                </div>
            </div>

            <div class="bar-search">
                <ion-input (ionChange)="textChange($event)"></ion-input>
                <ion-button> Borrar </ion-button>
            </div>


            <table class="styled-table" *ngIf="dataFiltered && dataFiltered.length>=1">
                <thead>
                    <tr>
                        <th>Name de Cuenta</th>
                        <th>Name de Cliente</th>
                        <th>Name de Responsable</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>Nº equipos</th>
                        <th>Edit</th>
                        <th>Delete</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,]">
                        <th>Name de Cuenta</th>
                        <th>Name de Cliente</th>
                        <th>Name de Responsable</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th>2</th>
                        <th>
                            <ion-icon (click)="edit(item)" class="btn" name="pencil"></ion-icon>
                        </th>
                        <th>
                            <ion-icon (click)="delete(item)" class="btn" name="trash"></ion-icon>
                        </th>
                    </tr>
                </tbody>
            </table>

            <div *ngIf="!dataFiltered" class="div-no-data">
                No hay Resultados
            </div>

        </div>
    </div>

</ion-content>