.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  
  .styled-table th,
  .styled-table td {
    padding: 12px 15px;
  }
  
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .styled-table tbody tr:nth-of-type(even) {
    // background-color: #f3f3f3;
    background-color: rgba(100, 100, 0, 0.6);
  }
  
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  
  ion-icon.btn {
    cursor: pointer;
    zoom: 1.5;
  }
  ion-icon.btn:hover {
    cursor: pointer;
    zoom: 2;
    margin: -2px;
  }
  
  ion-input {
    border: 1px solid lightgrey;
    border-radius: 10px;
  }
  
  ion-button {
    text-transform: none;
    --background: darkturquoise;
  }
  
  .title {
    zoom: 2;
    padding: 10px;
  }
  
  .all-div {
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 100%;
  }
  
  .div-no-data {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .bar-search {
    display: flex;
    flex-direction: row;
  }
  