.title {
  zoom: 2;
  text-align: center;
  padding: 20px;
}

ion-input, ion-select, ion-textarea {
  border-radius: 10px;
  border: 1px solid lightgray;
}

ion-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}


ion-button {
    --background: darkturquoise;
    text-transform: none;
    color: white
}

.btn-bar{
text-align: right;
padding: 5%;
}