<ion-content style="background-color: lightblue; height: 100%;  color: black ">

  <div style="background-color: lightblue; height: 100%;">
    <div style="background-color: lightblue; display: flex;  justify-content: center; padding-top: 50px;">
      <div
        style="background-color: white; color: black ;width:80%; border-radius: 10px; display:flex; flex-direction: column; padding: 15px; box-shadow: 0 5px 10px 5px rgb(0 0 0 / 20%);">

        <div class="title" *ngIf="editUsuario">Editar Usuario:</div>
        <div class="title" *ngIf="!editUsuario">Crear Usuario:</div>

        <ion-grid fixed>
          <ion-row>
            <ion-col size="3" style="text-align: right;">Nombre:</ion-col>
            <ion-col size="9">
              <ion-input [(ngModel)]="data.nombre"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3" style="text-align: right;">Correo:</ion-col>
            <ion-col size="9">
              <ion-input [(ngModel)]="data.correo"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3" style="text-align: right;">Status:</ion-col>
            <ion-col size="9">
              <ion-toggle style="--background: lightblue; --background-checked: turquoise;" mode="ios"
                [(ngModel)]="data.status"></ion-toggle>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3" style="text-align: right;">Admin:</ion-col>
            <ion-col size="9">
              <ion-toggle style="--background: lightblue; --background-checked: turquoise;" mode="ios"
                [(ngModel)]="data.admin"></ion-toggle>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3" style="text-align: right;">Nivel de Inglés:</ion-col>
            <ion-col size="9">
              <ion-select [(ngModel)]="data.nivelSelected" placeholder="Seleccione"
                [interfaceOptions]="customAlertOptions" interface="alert">
                <ion-select-option *ngFor="let item of nivelIngles" value={{item}}>{{ item }}</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3" style="text-align: right;">Link CV:</ion-col>
            <ion-col size="9">
              <ion-input [(ngModel)]="data.link"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3" style="text-align: right;">Conocimiento:</ion-col>
            <ion-col size="9">
              <ion-textarea [(ngModel)]="data.conocimiento"></ion-textarea>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div class="btn-bar">
          <ion-button (click)="eliminar()"> Eliminar </ion-button>
          <ion-button (click)="guardar()"> Guardar </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>