<div>
    <div class="row all-one">
        <div class="row">
            <ion-icon name="person-circle-outline"></ion-icon>
            <div> Angel Ochoa </div>
        </div>
        <div class="row">
            <ion-icon name="mail-outline"></ion-icon>
            <div>ochoaangel@gmail.com</div>
        </div>
        <div class="row">
            <ion-icon (click)="true" name="exit-outline" style="cursor: pointer;"></ion-icon>
        </div>
    </div>
</div>