ion-icon {
  color: aquamarine;
  zoom: 2;
  padding: 0 5px;
  margin-left: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 10px;
}

.all-one {
  justify-content: end;
  align-items: center;
}
