<!-- <app-header></app-header> -->
<ion-content>
    <div style="height: 100%">
        <div class="all-div">

            <div style="display:flex; flex-direction:row; align-items: center;">
                <div class="title">Movimientos:</div>
                <div>
                    <ion-radio-group (ionChange)="typeChange()" allow-empty-selection="false" [(ngModel)]="log"
                        style="display:flex; flex-direction: row; background-color:rgba(0,0,0,0);">
                        <ion-item>
                            <ion-label>Historial</ion-label>
                            <ion-radio value="true"></ion-radio>
                        </ion-item>
                        <ion-item>
                            <ion-label>Ubicación actual</ion-label>
                            <ion-radio value="false"></ion-radio>
                        </ion-item>
                    </ion-radio-group>
                </div>
            </div>

            <div class="bar-search">
                <ion-input (ionChange)="textChange($event)"></ion-input>
                <ion-button> Borrar </ion-button>
            </div>

            <table class="styled-table" *ngIf="dataFiltered && dataFiltered.length>=1">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Usuario</th>
                        <th *ngIf="log">Equipo</th>
                        <th *ngIf="log">Creado</th>
                        <th *ngIf="!log">Seleccionar Equipos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,]">
                        <th>id</th>
                        <th>Usuario </th>
                        <th *ngIf="log">Equipo </th>
                        <th *ngIf="log">Creado</th>
                        <th *ngIf="!log">
                            <ion-select value="" multiple="true" placeholder="Seleccione a equipos">
                                <ion-select-option value="peperoni">Draco</ion-select-option>
                                <ion-select-option value="hawaii">Sonqo</ion-select-option>
                                <ion-select-option value="peperoni2">Draco2</ion-select-option>
                                <ion-select-option value="hawaii2">Sonqo2</ion-select-option>
                                <ion-select-option value="peperoni3">Draco3</ion-select-option>
                                <ion-select-option value="hawaii3">Sonqo3</ion-select-option>
                            </ion-select>
                        </th>
                    </tr>
                </tbody>
            </table>

            <div *ngIf="!dataFiltered" class="div-no-data">
                No hay Resultados
            </div>

        </div>
    </div>

</ion-content>