<div class="main">
  <div class="content">
    <div class="title">
     <img src="../../../assets/noAuth2.png" alt="" style="width: 50%; padding-bottom: 20px;">
    </div>
    <div class="goto-login" (click)="gotoLogin()">
      Go to login
    </div>
  </div>
</div>