.goto-login {
    background-color: darkturquoise;
    color: white;
    cursor: pointer;
    width: 200px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin: auto;
    font-family: 'Lato', sans-serif;
}

.title{
    margin: auto;
    display: flex;
    justify-content: center;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../../assets/back.jpg');
    background-position: center;
    background-size: cover;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
