.to-right {
  text-align: right;
  padding-right: 20px;
}

ion-button {
  background-color: darkturquoise;
  color: white;
  text-transform: none;
  zoom: 1.5;
  border-radius: 10px;
}
 
.small-div {
  margin: auto;
  min-width: 50%;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 10px 5px rgb(0 0 0 / 20%);
}

.all-background {
  background-color: rgba(100, 100, 0, 0.6);
  height: 100%;
  display: flex;
}

.title {
  text-align: center;
  zoom: 2;
  padding: 10px;
  margin-top: -10px;
  background-color: black;
  color: darkturquoise;
}
