<!-- <app-header></app-header> -->
<ion-content>
  <div *ngIf="role !== 'admin' && role !== 'superadmin'" class="all-background">
    <div class="small-div">
      <ion-grid style="margin: 50px;">
        <ion-row>
          <ion-col size="12">
            <div class="title"> Detalles de usuario: </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" class="to-right">Nombre:</ion-col>
          <ion-col size="6">nombre</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" class="to-right">Correo:</ion-col>
          <ion-col size="6">correo</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" class="to-right">Nivel de Inglés:</ion-col>
          <ion-col size="6">ingles</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" class="to-right">Conocimientos:</ion-col>
          <ion-col size="6">Conocimiento</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" class="to-right">Link de CV:</ion-col>
          <ion-col size="6">cv</ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <div *ngIf="role === 'admin' || role ==='superadmin'" class="all-background">
    <div class="small-div">
      <ion-button fill="clear" (click)="goto('usuarios')"> Usuarios </ion-button>
      <ion-button fill="clear" (click)="goto('cuentas')"> Cuentas </ion-button>
      <ion-button fill="clear" (click)="goto('equipos')"> Equipos </ion-button>
      <ion-button fill="clear" (click)="goto('movimientos')"> Movimientos </ion-button>
    </div>
  </div>

</ion-content>